<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="events.xsl"?>
<events>
  <event date="2017-07-15">
    <action type="watched">
      The Power of Vulnerability - Brene Brown
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=sXSjc-pbXk4" type="source" />
    </references>
  </event>
  <event date="2017-07-15">
    <action type="watched">
      "What’s the worst that can happen?" - How authentic connection enables change and innovation - Marc Burgauer
    </action>
    <references>
      <reference src="https://vimeo.com/107609914" type="source" />
    </references>
  </event>
  <event date="2017-07-14">
    <action type="watched">
      Brené Brown on Blame
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=RZWf2_2L2v8" type="source" />
    </references>
  </event>
  <event date="2017-07-10">
    <action type="read">
      Don’t Know What I Want, But I Know How to Get It: why knowing what you want in agile development may be an impediment to getting it - Jeff Patton
    </action>
    <references>
      <reference src="http://jpattonassociates.com/dont_know_what_i_want/" type="source" />
    </references>
  </event>
  <event date="2017-07-03">
    <action type="read">
      The Lost Promise of Cloud - Brandon Byars, ThoughtWorks
    </action>
    <references>
      <reference src="https://www.thoughtworks.com/insights/blog/lost-promise-cloud" type="source" />
    </references>
  </event>
  <event date="2017-07-02">
    <action type="read">
      One Practical Alternative to Estimates - J.B. Rainsberger @jbrains
    </action>
    <references>
      <reference src="http://blog.jbrains.ca/permalink/one-practical-alternative-to-estimates" type="source" />
    </references>
  </event>
  <event date="2017-07-01">
    <action type="read">
      The Nature of Software Development - Ron Jeffries
    </action>
    <references>
      <reference src="https://pragprog.com/book/rjnsd/the-nature-of-software-development" type="source" />
    </references>
  </event>
  <event date="2017-06-27">
   <action type="watched">
     Software, Faster • Dan North (GOTO 2016)
   </action>
   <references>
     <reference src="https://www.youtube.com/watch?v=USc-yLHXNUg" type="source" />
   </references>
  </event>
</events>
