<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="events.xsl"?>
<events>
  <event date="2018-6-2">
    <action type="read">
      Correlation IDs for microservices architectures - Peter Hilton
    </action>
    <references>
      <reference type="source" src="http://hilton.org.uk/blog/microservices-correlation-id" />
    </references>
  </event>
  <event date="2018-5-25">
    <action type="read">
      Event Bus Implementation(s) - Mustafa Turan
    </action>
    <references>
      <reference type="source" src="https://hackernoon.com/event-bus-implementation-s-d2854a9fafd5" />
    </references>
  </event>
  <event date="2018-5-23">
    <action type="read">
      How to ditch your ORM - Kenneth Truyers
    </action>
    <references>
      <reference type="source" src="https://www.kenneth-truyers.net/2014/11/15/how-to-ditch-your-orm/" />
    </references>
  </event>
  <event date="2018-5-19">
    <action type="read">
      5 Reasons Why N26 is Moving to Kotlin - Pat Kua
    </action>
    <references>
      <reference type="source" src="https://mag.n26.com/5-reasons-why-n26-is-moving-to-kotlin-f920b184ab58" />
    </references>
  </event>
  <event date="2018-5-18">
    <action type="watched">
      ONION ARCHITECTURE with PURE FUNCTIONAL PROGRAMMING sauce - Matteo Baglini
    </action>
    <references>
      <reference type="source" src="https://gitpitch.com/matteobaglini/onion-with-functional-programming/19-may-jugday-trento#/" />
    </references>
  </event>
  <event date="2018-5-17">
    <action type="read">
      How to write a Repository - Phil Calçado
    </action>
    <references>
      <reference type="source" src="http://philcalcado.com/2010/12/23/how_to_write_a_repository.html" />
    </references>
  </event>
  <event date="2018-5-16">
    <action type="listened">
      Scrum Master Toolbox Podcast - Woody Zuill interview week (five episodes)
    </action>
    <references>
      <reference type="source" src="https://scrum-master-toolbox.org/2016/03/podcast/woody-zuill-on-the-tino-pattern-team-in-name-only/" />
    </references>
  </event>
  <event date="2018-5-15">
    <action type="read">
      7 Practical Ways to Reduce Bias in Your Hiring Process - Rebecca Knight
    </action>
    <references>
      <reference type="source" src="https://hbr.org/2017/06/7-practical-ways-to-reduce-bias-in-your-hiring-process" />
    </references>
  </event>
  <event date="2018-5-12">
    <action type="read">
      MVC, Delivery Mechanism and Domain Model - Sandro Mancuso
    </action>
    <references>
      <reference type="source" src="https://codurance.com/2017/09/20/mvc-delievery-mechanism-dm/" />
    </references>
  </event>
  <event date="2018-5-6">
    <action type="read">
      Real Agile Change - Joshua Kerievsky
    </action>
    <references>
      <reference type="source" src="https://www.linkedin.com/pulse/real-agile-change-joshua-kerievsky/" />
    </references>
  </event>
  <event date="2018-5-6">
    <action type="read">
      A Mob Programming Exercise for Well-Crafted Design - Sandro Mancuso
    </action>
    <references>
      <reference type="source" src="https://dzone.com/articles/practicing-well-crafted-design" />
    </references>
  </event>
  <event date="2018-5-5">
    <action type="read">
      Culture is the Behavior You Reward and Punish - Jocelyn Goldfein #culture
    </action>
    <references>
      <reference type="source" src="https://jocelyngoldfein.com/culture-is-the-behavior-you-reward-and-punish-7e8e75c6543e" />
    </references>
  </event>
  <event date="2018-4-27">
    <action type="read">
      How we do things around here in order to succeed - Michael Sahota #culture
    </action>
    <references>
      <reference type="source" src="http://agilitrix.com/2010/08/how-we-do-things-around-here-in-order-to-succeed/" />
    </references>
  </event>
  <event date="2018-4-27">
    <action type="read">
      51 Interview Questions You Should Be Asking
    </action>
    <references>
      <reference type="source" src="https://www.themuse.com/advice/51-interview-questions-you-should-be-asking" />
    </references>
  </event>
  <event date="2018-4-27">
    <action type="read">
      The Best Interview Questions to Ask if You Want the Truth About Company Culture
    </action>
    <references>
      <reference type="source" src="https://www.themuse.com/advice/the-best-interview-questions-to-ask-if-you-want-the-truth-about-company-culture" />
    </references>
  </event>
  <event date="2018-4-25">
    <action type="read">
      A Cultural Fit - Adam Knight
    </action>
    <references>
      <reference type="source" src="http://www.a-sisyphean-task.com/2015/04/a-cultural-fit.html" />
    </references>
  </event>
  <event date="2018-4-22">
    <action type="read">
      What I'm talking about when I talk about TDD - Uberto Barbini
    </action>
    <references>
      <reference type="source" src="https://medium.com/@ramtop/what-im-talking-about-when-i-talk-about-tdd-546a383468be" />
    </references>
  </event>
  <event date="2018-4-22">
    <action type="read">
      Design Pressure - Kelly Sutton
    </action>
    <references>
      <reference src="https://kellysutton.com/2017/04/18/design-pressure.html" type="source" />
    </references>
  </event>
  <event date="2018-4-22">
    <action type="read">
      TDD "Isn't About Testing" Revisited - J. B. Rainsberger
    </action>
    <references>
      <reference src="https://blog.jbrains.ca/permalink/tdd-isnt-about-testing-revisited" type="source" />
    </references>
  </event>
  <event date="2018-4-13">
    <action type="read">
      The Practical Test Pyramid - Ham Vocke
    </action>
    <references>
      <reference src="https://martinfowler.com/articles/practical-test-pyramid.html" type="source" />
    </references>
  </event>
  <event date="2018-4-12">
    <action type="read">
      DRY is about Knowledge - Mathias Verraes
    </action>
    <references>
      <reference src="http://verraes.net/2014/08/dry-is-about-knowledge/" type="source" />
    </references>
  </event>
  <event date="2018-3-29">
    <action type="listened">
      Scrum Master Toolbox Podcast - Alberto Brandolini interview week (five episodes)
    </action>
    <references>
      <reference src="https://scrum-master-toolbox.org/2016/01/podcast/alberto-brandolini-talks-about-how-important-it-is-to-define-how-your-assignment-starts/" type="source" />
    </references>
  </event>
  <event date="2018-3-11">
    <action type="read">
      The Satir Change Model - Steven M. Smith
    </action>
    <references>
      <reference src="https://stevenmsmith.com/ar-satir-change-model/" type="source" />
    </references>
  </event>
  <event date="2018-3-08">
    <action type="read">
      SOLID principles and TDD - Emily Bache
    </action>
    <references>
      <reference src="http://coding-is-like-cooking.info/2012/09/solid-principles-and-tdd/" type="source" />
    </references>
  </event>
  <event date="2018-3-07">
    <action type="read">
      Agile is Not for Everyone - Johanna Rothman
    </action>
    <references>
      <reference src="https://www.jrothman.com/mpd/agile/2012/12/agile-is-not-for-everyone/" type="source" />
    </references>
  </event>
  <event date="2018-3-06">
    <action type="read">
      RE: Incredible XP - Kent Beck 1999
    </action>
    <references>
      <reference src="https://www.ibm.com/developerworks/rational/archives/otug/hypermail/9903/0646.html" type="source" />
    </references>
  </event>
  <event date="2018-2-25">
    <action type="read">
      Le retrospettive nella letteratura corrente - Pierluigi Pugliese
    </action>
    <references>
      <reference src="http://www.mokabyte.it/2014/05/retrospective-2/" type="source" />
    </references>
  </event>
  <event date="2018-2-25">
    <action type="read">
      La retrospettiva come strumento per il miglioramento continuo - Pierluigi Pugliese
    </action>
    <references>
      <reference src="http://www.mokabyte.it/2014/04/retrospective-1/" type="source" />
    </references>
  </event>
  <event date="2018-2-18">
    <action type="watched">
      Responsive design e analisi XP - Matteo Vaccari (Roma, Codemotion 2013)
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=4L9aL_W-Uo0" type="source" />
    </references>
  </event>
  <event date="2018-2-15">
    <action type="read">
      The Product Development Triathlon - Kent Beck
    </action>
    <references>
      <reference src="https://www.facebook.com/notes/kent-beck/the-product-development-triathlon/1215075478525314/" type="source" />
    </references>
  </event>
  <event date="2018-2-14">
    <action type="read">
      Cost of Coupling Versus Cost of De-coupling - Kent Beck
    </action>
    <references>
      <reference src="https://www.facebook.com/notes/kent-beck/cost-of-coupling-versus-cost-of-de-coupling/1578239345542257/" type="source" />
    </references>
  </event>
  <event date="2018-2-13">
    <action type="read">
      Responsive Design, Coming to Grips with the Chaos That Is Software Design - Kent Beck
    </action>
    <references>
      <reference src="https://pragprog.com/magazines/2009-09/responsive-design" type="source" />
    </references>
  </event>
  <event date="2018-2-4">
    <action type="watched">
      Impact Mapping with Innovation Games - Gojko Adzic (Pavia, Italian Agile Day 2016)
    </action>
    <references>
      <reference src="https://vimeo.com/195949530" type="source" />
    </references>
  </event>
  <event date="2018-1-27">
    <action type="read">
      6 Things Everyone Needs to Know About Agile - Jason Little
    </action>
    <references>
      <reference src="https://www.linkedin.com/pulse/6-things-everyone-needs-know-agile-jason-little/" type="source" />
    </references>
  </event>
  <event date="2018-1-27">
    <action type="watched">
      Extreme Programming 20 years later by Kent Beck
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=cGuTmOUdFbo" type="source" />
    </references>
  </event>
  <event date="2018-1-27">
    <action type="read">
      What Exactly is the Agile Mindset? - Susan McIntosh
    </action>
    <references>
      <reference src="https://www.infoq.com/articles/what-agile-mindset" type="source" />
    </references>
  </event>
  <event date="2018-1-21">
    <action type="read">
      Cumulative Flow Diagram - Pawel Brodzinski
    </action>
    <references>
      <reference src="http://brodzinski.com/2013/07/cumulative-flow-diagram.html" type="source" />
    </references>
  </event>
  <event date="2018-1-20">
    <action type="watched">
      A Random Walk and Monte Carlo Simulation || Python Tutorial || Socratica - Learn Python Programming
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=BfS2H1y6tzQ" type="source" />
    </references>
  </event>
  <event date="2018-1-20">
    <action type="watched">
      6. Monte Carlo Simulation - John Guttag - MIT OpenCourseWare
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=OgO1gpXSUzU" type="source" />
    </references>
  </event>
  <event date="2018-1-20">
    <action type="read">
      3 Metrics for Reporting an Agile Pilot to Top Management: customer feedback, release burnup and happy index
    </action>
    <references>
      <reference src="http://agiletrail.com/2011/09/12/how-to-track-the-teams-mood-with-a-niko-niko-calendar" type="source" />
    </references>
  </event>
  <event date="2018-1-17">
    <action type="read">
      #NoEstimates Project Planning using Monte Carlo simulation - Dimitar Bakardzhiev (slides)
    </action>
    <references>
      <reference src="https://www.slideshare.net/dimiterbak/noestimates-project-planning-using-monte-carlo-simulation" type="source" />
    </references>
  </event>
  <event date="2018-1-17">
    <action type="watched">
      #NoEstimates Project Planning using Monte Carlo simulation - Dimitar Bakardzhiev (video)
    </action>
    <references>
      <reference src="https://vimeo.com/107763575" type="source" />
    </references>
  </event>
  <event date="2018-1-14">
    <action type="watched">
      Kotlin for Java Programmers by Venkat Subramaniam
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=7EVXypZDOos" type="source" />
    </references>
  </event>
  <event date="2018-1-13">
    <action type="read">
      CIO Voices: Volkswagen’s Hofmann Explains His Principles of Digital Transformation
    </action>
    <references>
      <reference src="http://www.cetusnews.com/business/CIO-Voices--Volkswagen%E2%80%99s-Hofmann-Explains-His-Principles-of-Digital-Transformation.Sy-d-ufm-G.html" type="source" />
    </references>
  </event>
  <event date="2018-1-13">
    <action type="read">
      It’s the People, Not the System - Pawel Brodzinski
    </action>
    <references>
      <reference src="http://brodzinski.com/2013/04/people-not-system.html" type="source" />
    </references>
  </event>
  <event date="2018-1-8">
    <action type="listened">
      Scrum Master Toolbox Podcast - Jeff Campbell describes one key Systems Thinking tool
    </action>
    <references>
      <reference src="http://scrum-master-toolbox.org/2015/11/podcast/jeff-campbell-describes-one-key-systems-thinking-tool/" type="source" />
    </references>
  </event>
  <event date="2018-1-7">
    <action type="read">
      #NoEstimates Project Planning Using Monte Carlo Simulation
    </action>
    <references>
      <reference src="https://www.infoq.com/articles/noestimates-monte-carlo/" type="source" />
    </references>
  </event>
  <event date="2018-1-2">
    <action type="read">
      Evidence Based Scheduling - Joel On Software
    </action>
    <references>
      <reference src="https://www.joelonsoftware.com/2007/10/26/evidence-based-scheduling/" type="source" />
    </references>
  </event>
  <event date="2018-1-1">
    <action type="watched">
      Better Project Forecasts without Estimates – The Monte Carlo - Adrian Fittolani
    </action>
    <references>
      <reference src="https://www.infoq.com/presentations/monte-carlo" type="source" />
    </references>
  </event>
  <event date="2017-12-31">
    <action type="read">
      Agile Project Forecasting – The Monte Carlo Method - Adrian Fittolani
    </action>
    <references>
      <reference src="http://scrumage.com/blog/2015/09/agile-project-forecasting-the-monte-carlo-method/" type="source" />
    </references>
  </event>
  <event date="2017-12-28">
    <action type="listened">
      Scrum Master Toolbox Podcast - Jeff Campbell on the Mathematical Proof of Value for Scrum Masters
    </action>
    <references>
      <reference src="http://scrum-master-toolbox.org/2015/11/podcast/jeff-campbell-on-the-mathematical-proof-of-value-for-scrum-masters/" type="source" />
    </references>
  </event>
  <event date="2017-12-26">
    <action type="watched">
      42 IntelliJ IDEA Tips and Tricks - Hadi Hariri
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=eq3KiAH4IBI" type="source" />
    </references>
  </event>
  <event date="2017-12-10">
    <action type="read">
      Chapter 1 of Kotlin in Action
    </action>
    <references>
      <reference src="https://www.manning.com/books/kotlin-in-action" type="source" />
    </references>
  </event>
  <event date="2017-12-9">
    <action type="watched">
      Kotlin from the Ground Up - Justin Lee
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=mcZvp0OH7p8" type="source" />
    </references>
  </event>
  <event date="2017-12-5">
    <action type="read">
      Ask not what an object is, but... - Carlo Pescio
    </action>
    <references>
      <reference src="http://www.carlopescio.com/2012/12/ask-not-what-object-is-but.html" type="source" />
    </references>
  </event>
  <event date="2017-11-26">
    <action type="read">
      Chapters 1-7 of Software Architecture for Developers, by Simon Brown
    </action>
    <references>
      <reference src="https://leanpub.com/software-architecture-for-developers" type="source" />
    </references>
  </event>
  <event date="2017-11-24">
    <action type="watched">
      Mob Programming: A Whole Team Approach • Woody Zuill • GOTO 2017
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=SHOVVnRB4h0" type="source" />
    </references>
  </event>
  <event date="2017-11-12">
    <action type="read">
      How to Lie with Statistics - Darrell Huff
    </action>
    <references>
      <reference src="https://www.amazon.it/dp/B00351DSX2/" type="source" />
    </references>
  </event>
  <event date="2017-11-5">
    <action type="read">
      Coupling and Cohesion - Kent Beck
    </action>
    <references>
      <reference src="https://web.archive.org/web/20110806101727/http://www.threeriversinstitute.org/blog/?p=104" type="source" />
    </references>
  </event>
  <event date="2017-10-29">
    <action type="read">
      Step Away from the Tools - Liz Keogh
    </action>
    <references>
      <reference src="https://lizkeogh.com/2011/03/04/step-away-from-the-tools/" type="source" />
    </references>
  </event>
  <event date="2017-10-27">
    <action type="read">
      One Practical Alternative to Estimates - J. B. Rainsberger
    </action>
    <references>
      <reference src="http://blog.jbrains.ca/permalink/one-practical-alternative-to-estimates" type="source" />
    </references>
  </event>
  <event date="2017-10-27">
    <action type="watched">
      ABE15 Jeff Campbell: The Inflow
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=n9omZeU09lU" type="source" />
    </references>
  </event>
  <event date="2017-10-23">
    <action type="read">
      Lead time versus Cycle Time – Untangling the confusion - Steven Thomas
    </action>
    <references>
      <reference src="http://itsadeliverything.com/lead-time-versus-cycle-time-untangling-the-confusion" type="source" />
    </references>
  </event>
  <event date="2017-10-21">
    <action type="read">
      Little's Law – the basis of Lean and Kanban - Steven Thomas
    </action>
    <references>
      <reference src="http://itsadeliverything.com/littles-law-the-basis-of-lean-and-kanban" type="source" />
    </references>
  </event>
  <event date="2017-10-19">
    <action type="read">
      You Can’t Buy DevOps - Matthew Heusser
    </action>
    <references>
      <reference src="https://www.stickyminds.com/article/you-can-t-buy-devops" type="source" />
    </references>
  </event>
  <event date="2017-10-18">
    <action type="read">
      Cycle Time Revisited - Alexei Zheglov
    </action>
    <references>
      <reference src="https://connected-knowledge.com/2015/05/26/cycle-time-revisited/" type="source" />
    </references>
  </event>
  <event date="2017-10-18">
    <action type="read">
      Lead Time vs Cycle Time - David Joyce
    </action>
    <references>
      <reference src="https://leanandkanban.wordpress.com/2009/04/18/lead-time-vs-cycle-time/" type="source" />
    </references>
  </event>
  <event date="2017-10-18">
    <action type="read">
      Kanban: Definition of Lead Time and Cycle Time - Stefan Roock
    </action>
    <references>
      <reference src="https://stefanroock.wordpress.com/2010/03/02/kanban-definition-of-lead-time-and-cycle-time/" type="source" />
    </references>
  </event>
  <event date="2017-10-12">
    <action type="watched">
      Refactoring with IntelliJ IDEA - Bill Wake refactors the Gilded Rose Kata
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=ITXgUB2GrLY" type="source" />
    </references>
  </event>
  <event date="2017-10-5">
    <action type="listened">
      Scrum Master Toolbox Podcast - Jeff Campbell shares 2 transformative lessons he learned in the same company
    </action>
    <references>
      <reference src="http://scrum-master-toolbox.org/2015/11/podcast/jeff-campbell-shares-2-transformative-lessons-he-learned-in-the-same-company/" type="source" />
    </references>
  </event>
  <event date="2017-10-3">
    <action type="watched">
      Outside In TDD part III - Sandro Mancuso
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=R9OAt9AOrzI" type="source" />
    </references>
  </event>
  <event date="2017-10-3">
    <action type="watched">
      Outside In TDD part II - Sandro Mancuso
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=gs0rqDdz3ko" type="source" />
    </references>
  </event>
  <event date="2017-10-2">
    <action type="watched">
      Outside In TDD part I - Sandro Mancuso
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=XHnuMjah6ps" type="source" />
    </references>
  </event>
  <event date="2017-10-1">
    <action type="read">
      Why I Use a Paper Kanban Board - Johanna Rothman
    </action>
    <references>
      <reference src="https://www.jrothman.com/mpd/project-management/2017/02/why-i-use-a-paper-kanban-board/" type="source" />
    </references>
  </event>
  <event date="2017-10-1">
    <action type="read">
      Visualize Your Work So You Can Say No - Johanna Rothman
    </action>
    <references>
      <reference src="https://www.jrothman.com/mpd/portfolio-management/2017/02/visualize-your-work-so-you-can-say-no/" type="source" />
    </references>
  </event>
  <event date="2017-09-28">
    <action type="read">
      Stop Giving Away Your Greatest Advantage at Work - J. B. Rainsberger
    </action>
    <references>
      <reference src="http://us2.campaign-archive1.com/?u=80ca60ec48ef77dfaa1f38943&amp;id=14e1de39e4&amp;e=957b3c2473" type="source" />
    </references>
  </event>
  <event date="2017-09-27">
    <action type="read">
      What Does TDD Give Me in terms of a Design Activity? - Dave Schinkel
    </action>
    <references>
      <reference src="https://gist.github.com/xpepper/c45c4a8e160263f9de4de60321081131" type="source" />
    </references>
  </event>
  <event date="2017-09-27">
    <action type="read">
      Classicist vs. Mockist Test-Driven Development - Ian Cooper
    </action>
    <references>
      <reference src="http://codebetter.com/iancooper/2008/02/04/classicist-vs-mockist-test-driven-development/" type="source" />
    </references>
  </event>
  <event date="2017-09-27">
    <action type="read">
      TDD with mocks and spies - Luca Minudel
    </action>
    <references>
      <reference src="http://blogs.ugidotnet.org/luKa/archive/2011/01/06/tdd-with-mocks-or-spies.aspx" type="source" />
    </references>
  </event>
  <event date="2017-09-25">
    <action type="read">
      Your Daily Scrum is Killing Your Team - J. B. Rainsberger
    </action>
    <references>
      <reference src="http://blog.jbrains.ca/permalink/your-daily-scrum-is-killing-your-team" type="source" />
    </references>
  </event>
  <event date="2017-09-24">
    <action type="read">
      No. Agile Does Not Scale - Jurgen Appelo
    </action>
    <references>
      <reference src="https://medium.com/@jurgenappelo/no-agile-does-not-scale-98df99da3ff3" type="source" />
    </references>
  </event>
  <event date="2017-09-23">
    <action type="read">
      Visualising Test Terminology - Nat Pryce
    </action>
    <references>
      <reference src="http://www.natpryce.com/articles/000772.html" type="source" />
    </references>
  </event>
  <event date="2017-09-21">
    <action type="read">
      No Frameworks, Part 1 - Matteo Vaccari
    </action>
    <references>
      <reference src="http://matteo.vaccari.name/blog/archives/1019" type="source" />
    </references>
  </event>
  <event date="2017-09-20">
    <action type="read">
      Getting Empirical about Refactoring - Michael Feathers
    </action>
    <references>
      <reference src="https://www.stickyminds.com/article/getting-empirical-about-refactoring" type="source" />
    </references>
  </event>
  <event date="2017-09-18">
    <action type="read">
      Breaking Up the Behemoth - Sandi Metz
    </action>
    <references>
      <reference src="https://www.sandimetz.com/blog/2017/9/13/breaking-up-the-behemoth" type="source" />
    </references>
  </event>
  <event date="2017-09-18">
    <action type="read">
      DesignStaminaHypothesis - Martin Fowler
    </action>
    <references>
      <reference src="https://martinfowler.com/bliki/DesignStaminaHypothesis.html" type="source" />
    </references>
  </event>
  <event date="2017-09-17">
    <action type="read">
      7 truths about Agile and Scrum that people don't want to hear. Part 2 of 7: Developer Creativity - Kai Gilb
    </action>
    <references>
      <reference src="http://concepts.gilb.com/blogpost120-7-truths-about-Agile-and-Scrum-that-people-don-t-want-to-hear-Part-2-of-7-Developer-Creativity" type="source" />
    </references>
  </event>
  <event date="2017-09-10">
    <action type="read">
      It seams open: OCP and Seams - Jacopo Franzoi
    </action>
    <references>
      <reference src="https://jfranzoi.wordpress.com/2009/05/04/it-seams-open/" type="source" />
    </references>
  </event>
  <event date="2017-09-03">
    <action type="read">
      The Fist of Five a voting and consensus building technique
    </action>
    <references>
      <reference src="http://www.journey-to-better.com/2017/04/the-fist-of-five-voting-and-consensus.html" type="source" />
    </references>
  </event>
  <event date="2017-09-03">
    <action type="read">
      40 Ways to Invest in More Resilient Teams
    </action>
    <references>
      <reference src="https://hackernoon.com/40-ways-to-invest-in-more-resilient-teams-c2ac7d008591" type="source" />
    </references>
  </event>
  <event date="2017-09-02">
    <action type="read">
      The Definitive Guide to Google Snippets
    </action>
    <references>
      <reference src="http://blog.idonethis.com/google-snippets-internal-tool/" type="source" />
    </references>
  </event>
  <event date="2017-09-01">
    <action type="read">
      "Business Agile": Built Upon Sand - Ron Jeffries
    </action>
    <references>
      <reference src="http://ronjeffries.com/articles/017-08ff/sand/" type="source" />
    </references>
  </event>
  <event date="2017-08-28">
    <action type="read">
      Iterative and Incremental Development: A Brief History
    </action>
    <references>
      <reference src="https://www.cs.umd.edu/~basili/publications/journals/J90.pdf" type="source" />
    </references>
  </event>
  <event date="2017-08-27">
    <action type="watched">
      Splitting user stories -- the hamburger method - Gojko Adzic
    </action>
    <references>
      <reference src="https://gojko.net/2012/01/23/splitting-user-stories-the-hamburger-method/" type="source" />
    </references>
  </event>
  <event date="2017-08-26">
    <action type="listened">
      Scrum Master Toolbox Podcast - Marcus Hammarberg explains his recipe for team success
    </action>
    <references>
      <reference src="http://scrum-master-toolbox.org/2015/09/podcast/marcus-hammarberg-explains-his-recipe-for-team-success/" type="source" />
    </references>
  </event>
  <event date="2017-08-26">
    <action type="watched">
      Teresa Amabile: Track Your Small Wins to Motivate Big Accomplishments
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=FJ0rs9ZENgM" type="source" />
    </references>
  </event>
  <event date="2017-08-24">
    <action type="read">
      Writing User Stories
    </action>
    <references>
      <reference src="https://sites.google.com/site/agileskillsprojectwiki/collected-knowledge/ideas-to-refine/writing-user-stories" type="source" />
    </references>
  </event>
  <event date="2017-08-24">
    <action type="read">
      Essential XP: Card, Conversation, Confirmation - Ron Jeffries
    </action>
    <references>
      <reference src="http://ronjeffries.com/xprog/articles/expcardconversationconfirmation/" type="source" />
    </references>
  </event>
  <event date="2017-08-23">
    <action type="listened">
      Scrum Master Toolbox Podcast - The Water-Scrum-Fall Anti-pattern | Marcus Hammarberg
    </action>
    <references>
      <reference src="http://scrummastertoolbox.libsyn.com/the-water-scrum-fall-anti-pattern-marcus-hammarberg" type="source" />
    </references>
  </event>
  <event date="2017-08-22">
    <action type="read">
      The Real Reason We Estimate - Mike Cottmeyer
    </action>
    <references>
      <reference src="https://www.leadingagile.com/2011/09/the-real-reason-we-estimate/" type="source" />
    </references>
  </event>
  <event date="2017-08-16">
    <action type="read">
      Our Tack on Effective Change - Antony Marcano
    </action>
    <references>
      <reference src="https://ideas.riverglide.com/my-tack-on-effective-change-70d20520b8a4" type="source" />
    </references>
  </event>
  <event date="2017-08-16">
    <action type="read">
      Serverless/Non-Serverless Hybrid Architectures (p.44 of 'What is Serverless?')
    </action>
    <references>
      <reference src="http://www.oreilly.com/programming/free/files/what-is-serverless.pdf" type="source" />
    </references>
  </event>
  <event date="2017-08-16">
    <action type="read">
      Defining Serverless (parts 1..5) - Mike Roberts
    </action>
    <references>
      <reference src="https://blog.symphonia.io/defining-serverless-part-1-704d72bc8a32" type="source" />
    </references>
  </event>
  <event date="2017-08-14">
    <action type="listened">
      Scrum Master Toolbox Podcast - Sebastian Schürmann looks at the system from different perspectives to understand the system conditions
    </action>
    <references>
      <reference src="http://scrum-master-toolbox.org/2015/06/podcast/sebastian-schurmann-looks-at-the-system-from-different-perspectives-to-understand-the-system-conditions/" type="source" />
    </references>
  </event>
  <event date="2017-08-14">
    <action type="watched">
      Confusion In The Land Of The Serverless - Sam Newman at CraftConf 2017
    </action>
    <references>
      <reference src="http://www.ustream.tv/recorded/102892078" type="source" />
    </references>
  </event>
  <event date="2017-08-13">
    <action type="read">
      The economics of serverless computing: A real-world test
    </action>
    <references>
      <reference src="https://techbeacon.com/economics-serverless-computing-real-world-test" type="source" />
    </references>
  </event>
  <event date="2017-08-12">
    <action type="read">
      Serverless: A lesson learned. The hard way...
    </action>
    <references>
      <reference src="https://sourcebox.be/blog/2017/08/07/serverless-a-lesson-learned-the-hard-way/" type="source" />
    </references>
  </event>
  <event date="2017-08-10">
    <action type="read">
      Pairing, Swarming, and Mobbing - Johanna Rothman
    </action>
    <references>
      <reference src="https://www.jrothman.com/mpd/project-management/2016/07/pairing-swarming-and-mobbing/" type="source" />
    </references>
  </event>
  <event date="2017-08-08">
    <action type="read">
      An essential guide to the serverless ecosystem
    </action>
    <references>
      <reference src="https://techbeacon.com/essential-guide-serverless-ecosystem" type="source" />
    </references>
  </event>
  <event date="2017-07-30">
    <action type="reading">
      Serverless Architectures on AWS - Peter Sbarski (Manning)
    </action>
    <references>
      <reference src="https://www.manning.com/books/serverless-architectures-on-aws" type="source" />
    </references>
  </event>
  <event date="2017-07-15">
    <action type="watched">
      The power of vulnerability - TED talks, Brene Brown
    </action>
    <references>
      <reference src="https://www.ted.com/talks/brene_brown_on_vulnerability" type="source" />
    </references>
  </event>
  <event date="2017-07-15">
    <action type="watched">
      Listening to Shame - TED talks, Brene Brown
    </action>
    <references>
      <reference src="https://www.ted.com/talks/brene_brown_listening_to_shame" type="source" />
    </references>
  </event>
  <event date="2017-07-15">
    <action type="watched">
      The Power of Vulnerability - Brene Brown
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=sXSjc-pbXk4" type="source" />
    </references>
  </event>
  <event date="2017-07-15">
    <action type="watched">
      "What’s the worst that can happen?" - How authentic connection enables change and innovation - Marc Burgauer
    </action>
    <references>
      <reference src="https://vimeo.com/107609914" type="source" />
    </references>
  </event>
  <event date="2017-07-14">
    <action type="watched">
      Brené Brown on Blame
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=RZWf2_2L2v8" type="source" />
    </references>
  </event>
  <event date="2017-07-12">
    <action type="watched">
      Embrace Uncertainty - Jeff Patton
    </action>
    <references>
      <reference src="https://www.infoq.com/presentations/Uncertainty-Jeff-Patton" type="source" />
    </references>
  </event>
  <event date="2017-07-10">
    <action type="read">
      Don’t Know What I Want, But I Know How to Get It: why knowing what you want in agile development may be an impediment to getting it - Jeff Patton
    </action>
    <references>
      <reference src="http://jpattonassociates.com/dont_know_what_i_want/" type="source" />
    </references>
  </event>
  <event date="2017-07-03">
    <action type="read">
      The Lost Promise of Cloud - Brandon Byars, ThoughtWorks
    </action>
    <references>
      <reference src="https://www.thoughtworks.com/insights/blog/lost-promise-cloud" type="source" />
    </references>
  </event>
  <event date="2017-07-02">
    <action type="read">
      One Practical Alternative to Estimates - J.B. Rainsberger @jbrains
    </action>
    <references>
      <reference src="http://blog.jbrains.ca/permalink/one-practical-alternative-to-estimates" type="source" />
    </references>
  </event>
  <event date="2017-07-01">
    <action type="read">
      The Nature of Software Development - Ron Jeffries
    </action>
    <references>
      <reference src="https://pragprog.com/book/rjnsd/the-nature-of-software-development" type="source" />
    </references>
  </event>
  <event date="2017-06-27">
   <action type="watched">
     Software, Faster • Dan North (GOTO 2016)
   </action>
   <references>
     <reference src="https://www.youtube.com/watch?v=USc-yLHXNUg" type="source" />
   </references>
  </event>
</events>
